@use '../utils/variables';

.card {
  box-sizing: border-box;

  width: 200px;
  height: 406px;

  display: flex;
  flex-direction: column;

  padding-left: variables.$white-space;
  padding-right: variables.$white-space;

  border: variables.$border-width solid #f3f3f3;
  border-radius: variables.$border-radius;
  background-image: url(../images/imac.jpeg);
  background-repeat: no-repeat;
  background-size: 160px 134px;
  background-position: center 32px;

  &__heading {
    margin: 206px 0 0;

    font-weight: variables.$semibold-font-weight;
    font-size: variables.$main-text-size;
  }

  &__product-code {
    margin: variables.$margin 0 0;
    font-size: variables.$small-text-size;
    line-height: variables.$secondary-line-height;
    color: variables.$secondary-text-color;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: variables.$white-space;
  }

  &__reviews-number {
    margin: 0;
    text-align: right;
    font-size: variables.$small-text-size;
    line-height: variables.$secondary-line-height;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: variables.$white-space;

    font-size: variables.$small-text-size;
  }

  &__price-label {
    margin: 0;

    color: variables.$secondary-text-color;
  }

  &__price-sum {
    margin: 0;
    text-align: right;
    font-size: 16px;
    font-weight: variables.$bold-font-weight;
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    width: variables.$button-width;
    height: variables.$button-height;

    margin-top: variables.$white-space;

    line-height: 16px;
    font-size: 14px;
    font-weight: variables.$bold-font-weight;
    color: variables.$contrast-color;
    text-decoration: none;
    text-transform: uppercase;

    background-color: variables.$blue-color;
    border: variables.$border-width solid transparent;
    border-radius: variables.$border-radius;

    &:hover {
      color: variables.$blue-color;
      background-color: variables.$contrast-color;
      border-color: variables.$blue-color;
    }
  }
}
