@use '../utils/variables' as v;

.card {
  box-sizing: border-box;

  width: v.$card-width;
  height: v.$card-height;

  display: flex;
  flex-direction: column;

  padding-left: v.$white-space;
  padding-right: v.$white-space;

  border: v.$border-width solid #f3f3f3;
  border-radius: v.$border-radius;
  background-image: url(../images/imac.jpeg);
  background-repeat: no-repeat;
  background-size: 160px 134px;
  background-position: center 32px;

  transition:
    color v.$change-duration,
    transform v.$change-duration;

  &__title {
    margin: 206px 0 0;

    font-weight: v.$semibold-font-weight;
    font-size: v.$main-text-size;
  }

  &__product-code {
    margin: v.$margin 0 0;
    font-size: v.$small-text-size;
    line-height: v.$secondary-line-height;
    color: v.$secondary-text-color;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: v.$white-space;
  }

  &__reviews-number {
    margin: 0;
    text-align: right;
    font-size: v.$small-text-size;
    line-height: v.$secondary-line-height;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: v.$white-space;

    font-size: v.$small-text-size;
  }

  &__price-label {
    margin: 0;

    color: v.$secondary-text-color;
  }

  &__price-sum {
    margin: 0;
    text-align: right;
    font-size: 16px;
    font-weight: v.$bold-font-weight;
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    width: v.$button-width;
    height: v.$button-height;

    margin-top: v.$white-space;

    line-height: 16px;
    font-size: 14px;
    font-weight: v.$bold-font-weight;
    color: v.$contrast-color;
    text-decoration: none;
    text-transform: uppercase;

    background-color: v.$blue-color;
    border: v.$border-width solid transparent;
    border-radius: v.$border-radius;

    transition:
      color v.$change-duration,
      background-color v.$change-duration,
      border-color v.$change-duration;

    &:hover {
      color: v.$blue-color;
      background-color: v.$contrast-color;
      border-color: v.$blue-color;
    }
  }

  &:hover {
    .card__title {
      color: v.$change-title-color;
    }

    transform: scale(1.2);
  }
}
