@use '../utils/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  box-shadow: 0 2px variables.$shadow-blur 0 variables.$header-shadow-color;

  &__logo {
    display: block;
    width: variables.$logo-size;
    height: variables.$logo-size;
    text-decoration: none;
  }

  &__logo-image {
    width: variables.$image-size;
    height: variables.$image-size;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    height: variables.$nav-height;
    line-height: variables.$nav-height;

    list-style: none;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: variables.$nav-height;

    font-weight: variables.$semibold-font-weight;
    white-space: nowrap;

    color: variables.$primary-text-color;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: variables.$blue-color;
    }

    &.is-active {
      color: variables.$blue-color;

      &::after {
        content: '';

        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;

        height: variables.$active-border-height;

        background: variables.$blue-color;
        border-radius: 2px;
      }
    }
  }
}
