$white-space: 16px;
$margin: 4px;
$border-width: 1px;
$border-radius: 5px;
$logo-size: 40px;
$nav-height: 60px;
$active-border-height: 4px;
$button-width: 166px;
$button-height: 40px;
$shadow-blur: 4px;
$small-text-size: 10px;
$main-text-size: 12px;
$image-size: 100%;
$star-size: 16px;
$secondary-line-height: 14px;
$semibold-font-weight: 500;
$bold-font-weight: 700;
$header-shadow-color: rgba(0, 0, 0, 0.05);
$primary-text-color: #060b35;
$secondary-text-color: #616070;
$contrast-color: #fff;
$blue-color: #00acdc;
